@import './tailwind.css';

html, body {
  min-height: 100vh;
  overflow: none;
}

@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Micro5';
  src: url('/fonts/Micro5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PixelifySans';
  src: url('/fonts/PixelifySans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}